<div>
    <div>
        <h2>Existing User Login</h2>
        <form ng-submit="login_user()">
            <input type="email" ng-model="login_email" name="login-email" />
            <input type="submit" id="login-submit" value="Login" />
        </form>
    </div>
    <div>
        <h2>Create New User:</h2>
        <form ng-submit="create_user()">
            <input type="email" ng-model="new_user_email" name="new-user-email" placeholder="Email"/><br>
            <input type="text" ng-model="new_user_first_name" name="new-user-first-name" placeholder="First Name"/><br>
            <input type="text" ng-model="new_user_last_name" name="new-user-last-name" placeholder="Last Name"/><br>
            <input type="submit" id="new_user_submit" value="Create User" />
        </form>
    </div>
</div>
