<html ng-app="flaskAngularApp">
    <head>
        <title>Flask Angular</title>
        <link href="{{ url_for('static', filename='bower_components/angular-xeditable/dist/css/xeditable.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/angular-resource/angular-resource.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/angular-xeditable/dist/js/xeditable.js') }}"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='controllers.js') }}"></script>
        <script src="{{ url_for('static', filename='services.js') }}"></script>
    </head>
    <body>
        <div ng-view></div>
    </body>
</html>
